{{#unless (or hideSearch selected)}}
  <section class="search-header">
    <form class="clearfix" name="search-form" role="form" novalidate {{action "filter" on="submit"}} autocomplete="off">
      <div class="row">
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="first-name" placeholder="First name" value=firstName autocomplete="off"}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            {{input type="text" class="form-control" name="last-name" placeholder="Last name" value=lastName autocomplete="off"}}
          </div>
        </div>
        <div class="col-md-4 input-elements">
          <div class="input-group">
            <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
    </form>
  </section>
{{/unless}}

{{#table-sort headings=headings items=filtered as |obj|}}
  {{#if obj.row}}
    <td>
      {{#link-to 'clients.client' obj.item.customer_id}}
        {{obj.item.first_name}}
      {{/link-to}}
    </td>
    <td>
      {{#link-to 'clients.client' obj.item.customer_id}}
        {{obj.item.last_name}}
      {{/link-to}}
    </td>
    <td>{{obj.item.dob_formatted}}</td>
    <td>{{obj.item.gender}}</td>
  {{/if}}
{{/table-sort}}
